@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.body {
  padding: 16%;
  text-align: center;

}
.main{
  display: flex;
  flex-direction: column;
  margin-top: -150px ;
}
.head h3 {
  font-family: 'Montserrat', sans-serif;
  color:rgb(240, 179, 135);
  font-size: 25px;
  margin-left: 150px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  background-color: chocolate;
  margin-left: 150px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 18px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darkorange;
}



  